/* navbar */
.navbar {
    background-color: #ffffff;
}

body {
  background-color: #ffffff;
}

/* html,body{
    height:100%;
 }

.carousel,.item,.active{
    height:100%;
  }
 .carousel-inner{
     height:100%;
 } */

 /* home carousel */
.carousel-inner > .carousel-item > img {
    width: auto;
    height: 860px;
    object-fit: cover;
}

@media (max-width: 640px) {
  .carousel-inner > .carousel-item > img {
    width: auto;
    height: 800px;
    object-fit: cover;
}
}

/* home img */
.home-img {
  width: 720px;
  height: 720px;
  object-fit: cover;
  border-radius: 42px;
}

/* button */
#home-btn-1 {
  border-radius: 42px;
  background-color: #517154E5;
}

#home-btn-2 {
  border-radius: 42px;
  background-color: #517154E5;
}

/* view */
.mobile-view {
  display: none;
}

@media (max-width: 640px) {
  .mobile-view {display: block;}
  .desktop-view {display: none;}
}

/* footer */
.footer {
  background-color: #517154E5;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }